<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel = "stylesheet" href="style.css" type="text/css">
<title>Project 2: USA Election Comparison ('16|'20)</title>
</head>
<body style="background-color:red;">

<!-- HORIZONTAL Side navigation bar - UNDER CONSTRUCTION 
<ul class="nav flex-column bg-dark mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                Maps
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Charts
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Meet the Team
            </a>
    </li>
  </ul>
  -->

  <!--Top nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">USA Election '16 | '20</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Maps</a>
        <a class="nav-item nav-link" href="#">Charts</a>
        <a class="nav-item nav-link" href="#">Meet the Team</a>
          </div>
    </div>
  </nav>
  <!--End top nav-->

  <div class="card-transparent">
    <div class="card-block special-card" style="background-color: rgba(245, 245, 245, 0.4); ">This is my block
    <p>ggfdg</p>
    <p>ggfdg</p>
    <p>ggfdg</p>
    <p>ggfdg</p>
    </div>
  </div>

<!--Layout-->
<div class= "top-cards">
<div class= "container-fluid">
<div class="row">
    <div class="col-sm-2">
<div class="card" style="width: 2rem;">
    <div class="card-body">
      USA Chart
    </div>
</div>
</div>
<div class="col-sm-7">
    <div class="card">
        <div class="card-body">
          USA Map
        </div>
    </div>
        <div class="card">
            <div class="card-body">
              USA Chart
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--Second column-->
<div class= "container-fluid">
    <div class="row">
    <div class="card">
        <div class="card-body">
          USA Chart
        </div>
    </div>
        <div class="card">
            <div class="card-body">
            <img src="https://s.abcnews.com/assets/dtci/elections/images/fantasymap-introanim_20200608.gif">
            </div>
        </div>
            <div class="card">
                <div class="card-body">
                  USA Chart
                </div>
            </div>
    </div>
    </div>

<!--Small data sections-->
<div class= "container-fluid">
    <div class="row">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">2016</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">2020</a>
              </li>
            </ul>
        </div>
        <div class="card-body">
          Pie Chart
          <img src="https://i.imgflip.com/25rxy4.png">
        </div>
    </div>
        <div class="card">
            <div class="card-body">
              Pie Chart
            </div>
        </div>
            <div class="card">
                <div class="card-body">
                  Pie Chart
                </div>
            </div>
    </div>
    </div>


<!--Copyright Message-->  
<footer>
   <p><small>&copy; Jermaine Coleman, Leah Brady, Ben Stork, Christina Sheridan</small></p>
</footer>

<!--Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--Call in main.js-->
<script src="main.js"></script>

</body>
</html>