<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel = "stylesheet" href="style.css" type="text/css">
<title>Project 2: USA Election Comparison ('16|'20)</title>
</head>
<body style="background-color:red;">

<!-- HORIZONTAL Side navigation bar - UNDER CONSTRUCTION 
<ul class="nav flex-column bg-dark mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                Maps
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Charts
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Meet the Team
            </a>
    </li>
  </ul>
  -->

  <!--Top nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">USA Election '16 | '20</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Maps</a>
        <a class="nav-item nav-link" href="#">Charts</a>
        <a class="nav-item nav-link" href="#">Meet the Team</a>
          </div>
    </div>
  </nav>
  <!--End top nav-->

<!--Layout-->
<div class="container">
    <div class="row justify-content-center">
        <h1>Development Team </h1>
    </div>
    <div class = "row">
      <div class = "col-md-6">  
        <div class="card">
          <img src="../../images/Cristina_Headshot.jpg" class="card-img-top" alt="Cristina Photo">  
          <div class="card-body">
            <h5>Cristina Sheridan</h5>
                <p>Cristina Sheridan is a research data analyst that loves to play with data ... most days that is:). She has way too many AWS flask moments and looking forward to a future where she will know a bit more:). For this project, she hosted the AWS server and loaded the database, created the map with Leaflet, and contributed to writing the Python apps.</p>
          </div>
        </div>
      </div>  
      <div class = "col-md-6">  
        <div class="card">
          <img src="../../images/Leah_headshot.PNG" class="card-img-top" alt="Leah Photo">  
          <div class="card-body">
            <h5>Leah Brady</h5>
                <p>Leah Brady is a former civil litigator turned data analyst who enjoys telling stories through data. Currently a manager in a legal support company, her belief is that insights from data with change the practice of law. She has skills in Python, SQL, JavaScript, HTML, and CSS. For this project, she created data visualizations using Plotly, wrote the database schema, and contributed to writing the webpage.</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "row">
      <p> </p>
    </div>
    <div class = "row">
      <div class = "col-md-6">  
        <div class="card">
          <img src="../../images/Ben_headshot.png" class="card-img-top" alt="Ben Photo">  
          <div class="card-body">
            <h5>Ben Stork</h5>
                <p>An experienced project manager with a background in data analytics and mechanical engineering. Diverse experience and background in leading and contributing to interdisciplinary teams. Strives to continually acquire knowledge to solve technical issues and break down complex problems into manageable tasks. Always looking to grow and acquire new skills to best contribute and leverage opportunities in a team environment and expand my data analysis knowledge and skills. For this project, he performed the data clean up in a Jupyter Notebook, wrote the Flask app, and contributed to creating Python apps.</p>
          </div>
        </div>
      </div>  
      <div class = "col-md-6">  
        <div class="card">
          <img src="../../images/Jermaine_headshot.jpg" class="card-img-top" alt="Jermaine Photo">  
          <div class="card-body">
            <h5>Jermaine Coleman</h5>
                <p>As a recent college graduate, Jermaine is excited to continue strengthening her coding and all around data analyst abilities. Coming in with intermediate HTML/CSS skills, CWRU’s boot camp has highly increased Jermaine’s web design, data programs, and coding language repertoire. With a knack for visuals and creativity, Jermaine hopes to be promoted to business analyst in her company’s finance department. For this project, she created data visualizations, wrote the webpage framework using HTML and Bootstrap, and contributed to writing the Flask app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Layout -->

<!--Copyright Message-->  
<footer>
   <p><small>&copy; Jermaine Coleman, Leah Brady, Ben Stork, Christina Sheridan</small></p>
</footer>

<!--Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>